.newPlace__title {
  color: var(--color-purple-dark);
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--color-orange);
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 39px;
}

@media screen and (min-width: 768px) {
  .newPlace__title {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .newPlace__title {
    padding-top: 140px;
    font-size: 1.8rem;
  }
}
