.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--primary {
  border-radius: 10px;
  background: var(--color-orange);
  color: var(--color-purple-dark);
  font-weight: 500;
}

.button--icon {
  border-radius: 35.572px;
  background: var(--color-button-icon);
  backdrop-filter: blur(158.29710388183594px);
}

.button--icon svg {
  width: 24px;
  height: 24px;
  color: var(--color-purple-dark);
}

.button--icon.active svg {
  fill: var(--color-purple-dark);
}

.button--large {
  padding: 17px 24px;
  font-size: 16px;
}

.button--medium {
  padding: 12px;
}
