:root {
  --font-primary: "Inter Variable", sans-serif;
  --font-secundary: "Poppins", sans-serif;
  --color-orange: #ff8a00;
  --color-purple-dark: #401d31;
  --color-button-icon: #ffe9e4;
  --color-text-grey: rgba(39, 27, 32, 0.71);
  --color-orange-background: rgba(255, 165, 0, 0.9);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input {
  font: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
}

.main-content {
  padding-top: 80px;
}

.main-content.has-av {
  height: calc(100vh - 120px);
}
