.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 24px;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__title {
  color: #401d31;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
