.place-form {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 18px;
  margin: 20px 24px 140px 24px;
}

.place-form__group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  font-size: 1.0625rem;
  color: var(--color-purple-dark);
}

.place-form__label {
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.place-form__input {
  padding: 10px;
  width: 100%;
  border: 2px solid var(--color-orange);
  border-radius: 10px;
}
