.Toastify__toast {
  position: "top-center";
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: var(--color-text-grey);
  background-color: #fff;
}

.Toastify__progress-bar--success {
  background-color: var(--color-success-toast);
}

.Toastify__progress-bar--error {
  background-color: var(--color-error-toast);
}
