.places-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 24px 140px 24px;
  gap: 28px;
}

.places-list__place {
  display: flex;
  justify-content: center;
}

.places-list__title {
  color: var(--color-purple-dark);
  font-size: 1rem;
}
